@use "../variables" as *;

.errorComponent {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);

  &__container {
    width: 40%;
    height: 40%;
    border-radius: 20px;
    background-color: $red-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  &__title {
    text-align: center;
  }

  &__button {
    cursor: pointer;
    background-color: $blue-color;
    width: 8rem;
    height: 2rem;
    border-radius: 30px;
  }

  &__icon {
    height: 10rem;
  }
}
