//#61D2E2 #FFBB5A #C36B84
@use "../variables" as *;

.navbar {
  height: 4rem;
  width: 100%;
  background-color: $orange-color;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 20px;

  &__button {
    width: 6rem;
    height: 2rem;
    background-color: $red-color;
    cursor: pointer;
    color: $light-blue-color;
    border-radius: 20px;
  }

  &__title{
    cursor: pointer;
  }

}
